@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
button,
select,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  grid-area: header;
  background-color: #203040;
}

header a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

a:hover {
  color: orange;
}

main {
  grid-area: main;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  color: white;
  background-color: #203040;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}
/*Product Section*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button.primary {
  background-color: #f0c040;
}

.button:hover {
  border: 0.1rem #808080 solid;
}

/*Product Section*/
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: #203040 0.1rem solid;
}

.filter div {
  flex: 1;
}

/*Cart section*/
.cart {
  /* align-items: center; */
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.cart-header {
  border-bottom: #203040 0.1rem solid;
}

.cart-item {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-item img {
  width: 5rem;
}

.cart-item li {
  display: flex;
}

.cart-item li div {
  padding: 0.5rem;
}

.cart-item li div:last-child {
  flex: 1;
}

.right {
  align-items: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total > div {
  font-size: 2rem;
}

.total > div,
.total > button {
  flex: 1;
}

form {
  width: 100%;
}

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border-bottom: #203040 0.1rem solid;
}

/*product-details*/
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
